# Java Project Dependencies
# Format: groupId:artifactId:version

org.springframework.boot:spring-boot-starter-data-jdbc:3.3.4
org.springframework.boot:spring-boot-starter-test:3.3.4
com.mysql:mysql-connector-j:8.0.33
org.springframework.boot:spring-boot-configuration-processor:3.3.4
org.projectlombok:lombok:1.18.28
org.junit.jupiter:junit-jupiter-api:5.11.0
org.junit.jupiter:junit-jupiter-params:5.11.0
org.junit.platform:junit-platform-suite:1.11.0
org.mockito:mockito-inline:5.2.0
io.github.cdimascio:dotenv-java:3.0.0
